* {
    font-family: "Inter";
}
.product-card {
    display: inline-grid;
    margin-left: 65px;
    width: 300px;
    height: 400px;
    padding: 45px;
    border: 1px solid #eeee;
    border-radius: 12px;
    margin-top: 20px;
    position: relative;
    transition: transform 0.5s ease, box-shadow 1s ease ;
}
.product-card img {
    width: 200px; 
    height: 250px;  
    margin-left: 20%;
}
.title{
    height: 100px;
}
.category{
    color: blue;
}
h4{
    font-weight:normal;
}
.price {
    font-size: 25px;
    margin-top: 0px;
}
.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    margin-bottom: 20px;
}

.product-card button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #4169E1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #45a049;
}
